# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude stream repo and repo files
.dockerignore
.git
.github
.gitignore
docker-compose.yaml
example.png
LICENSE
Makefile
README.md
SECURITY.md
StreamStatus
streamstatus.env
streamstatus.env.example
