# Secret key to HMAC EventSub message
SS_SECRETKEY=abc321
# GitHub personal access token
SS_TOKEN=abc123
# GitHub username
SS_USERNAME=username
# Twitch Client ID
TW_CLIENT_ID=abc123
# Twitch Secret
TW_CLIENT_SECRET=abc321
# Pushbullet API Key
export SS_PUSHBULLET_APIKEY=myAPIkey
# Pushbullet devices (comma separated) to send notifications to
export SS_PUSHBULLET_DEVICES=myDevice,anotherDevice
